@media only screen and (max-width: 900px) {
    img.logo {
        top: 20%;
        left: 0;
        height: 400px;
        width: 100%;
        z-index: -11;
    }

    form.sign {
        top: 80%;
    }

    input.inp {
        width: 40%;
        margin-left: 30%;
    }

    input.inp:focus {
        transform: scale(2);
    }

    input.subBtn {
        position: fixed;
        top: 92%;
        left: 45%;
        visibility: visible;
        background-color: rgb(54, 111, 149);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 20px;
        padding: 1em;
        outline: none;
    }

    input.mes {
        position: fixed;
        top: 90%;
        left: 0;
        width: 30%;
    }

    input.sendBtn {
        position: fixed;
        top: 88%;
        left: 80%;
    }

    #chat {
        width: 90%;
    }
}