@media only screen and (max-width: 900px) {
    img.logo {
        top: 20%;
        left: 0;
        height: 400px;
        width: 100%;
        z-index: -11;
    }

    form.sign {
        top: 80%;
    }

    input.inp {
        width: 40%;
        margin-left: 30%;
    }

    input.inp:focus {
        transform: scale(2);
    }

    input.mes {
        position: fixed;
        top: 90%;
        left: 0;
        width: 40%;
    }

    #chat {
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 25%;
        width: 85%;
        left: 5%;
    }

    nav {
        height: 60%;
        width: 85%;
        left: 5%;
        top: 60px;
    }
}