* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23,26,33);
    color: rgb(54, 111, 149);
}

img.logo {
    position: fixed;
    height: 700px;
    width: 700px;
    top: 10%;
    left: 50%;
    opacity: 0.1;
    animation: logoShow 1s linear; 
}

@keyframes logoShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

form.sign {
    display: inline-block;
    position: fixed;
    height: 20%;
    width: 100%;
    top: 50%;
    left: 0;
    animation: formShow 600ms linear;
}

@keyframes formShow {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0;
    }
}

input.subBtn {
    visibility: hidden;
}

input.inp {
    margin-left: 15%;
    outline: none;
    color: rgb(54,111,149);
    transition-duration: 500ms;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(54, 111, 149);
    box-shadow: 0 15px 15px rgba(54, 111, 149);
    border: none;
    transform: scale(1.5);
    margin-bottom: 2em;
}

input.inp:focus {
    transform: scale(2.5);
    border: none;
    border-bottom: 2px solid rgb(54, 111, 149);
    background-color: rgb(23,26,33);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(54, 111, 149);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

p.login {
    display: inline;
    margin-left: 2em;
    line-height: 50px;
    color: rgb(255, 255, 255);
}

button.exit {
    float: right;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 111, 149);
    outline: none;
    transition-duration: 400ms;
}

button.exit:hover {
    box-shadow: 0 0 10px rgb(244, 244, 233);
}


/*****************************  STYLE CHAT *****************************/

